@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

*{
  font-family: "Roboto Slab", serif;
}

.estilo{
  color: green;
}

a{
    font-family: "Roboto Slab", serif;
    font-weight: 700;
    font-style: normal;
  }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999; 
}

.logo{
    width: 150px;
}  
.sobre{
  padding: 50px;
}
.card-img{
  height: 450px;
  width: 100%;
}

.card-header p{
  color: rgb(51, 95, 53); 
}

#titulo-cat{
  color: rgb(170, 241, 179);
}

#div-categoria{
  padding-bottom: 30px;
}
.categorias{
  height: auto;
  padding-top: 10px;
  background-image: url('img/categorias/fundo.png');
  border-radius: 10px;
  padding-bottom: 20px;
}
footer{
  background-color: rgb(51, 95, 53);
}
@media (min-width: 768px) and (max-width:1200px){ 
  .card-img{
    height: 350px;
    width: 100%;
  }
 }

 i{
  padding: 10px;
 }

 .roupas{
  padding-top: 100px;
 }

 .filters {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.filter-text {
  font-size: 0.9rem;
  color: #666;
}


.filters-title {
  font-size: 30px;
  color: rgb(51, 95, 53);
  margin-bottom: 20px;
  font-weight: 600;
}

.filter-option input[type="checkbox"] {
  margin-right: 10px;
  appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid rgb(51, 95, 53);
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  position: relative;
}

.filter-group-title {
  font-size: 20px;
  color: rgb(51, 95, 53);
  margin-bottom: 10px;
  font-weight: 500;
}

.filter-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.filter-option:hover .filter-text {
  color: rgb(51, 95, 53);
}
.filter-option {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
}

.filter-group {
  margin-bottom: 20px;
}



.filter-option input[type="checkbox"]:checked::before {
  content: '\1723';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(51, 95, 53);
  font-size: 14px;
}

.tituloprod{
  display: flex;
  align-items: center;
  justify-content: center;
}


.imagemprod{
  transition: transform 0.3s ease-in-out;
  
}

.imagemprod:hover {
  margin-top: 50px;
  transform: scale(1.5); 
  
}
.cortexto{
  color: rgb(51, 95, 53);
}
